@use "../utils";

.game {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(utils.$background-from, utils.$background-to);
}

.header {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  border: 3px solid utils.$header-outline;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &__score {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 12px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      color: utils.$score-text;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
    }
    &--number {
      color: utils.$dark-text;
      font-size: 3.2rem;
      font-weight: 700;
    }
  }

  @media only screen and (max-width: utils.$mobile-width) {
    width: 80%;
    padding: 12px;
    top: 32px;
    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 70%;
        height: auto;
        object-fit: cover;
      }
    }

    &__score {
      padding: 12px 24px;
      &--title {
        font-size: 0.8rem;
      }
      &--number {
        font-size: 3rem;
      }
    }
  }
}

.rules-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  border: 3px solid utils.$header-outline;
  padding: 8px 28px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    padding: 8px 32px;
  }

  @media only screen and (max-width: utils.$mobile-width) {
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 32px;
    font-size: 1rem;
    &:hover {
      padding: 12px 32px;
    }
  }
}

.rules-modal {
  width: 480px;
  height: 480px;
  background-color: white;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  &__overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 40px;
    &--title {
      color: utils.$dark-text;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &--close {
      cursor: pointer;
      padding: 4px;
    }
  }
  &__body {
    width: 70%;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media only screen and (max-width: utils.$mobile-width) {
    width: 100vw;
    height: 100vh;
    &__body {
      width: 90%;
      bottom: initial;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__overlay {
      display: none;
    }
    &__header {
      flex-direction: column;
      height: 76%;
      position: absolute;
      margin: initial;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.user-pick__background {
  position: fixed;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);

  @media only screen and (max-width: utils.$mobile-width) {
    bottom: 40%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.user-pick {
  width: 626px;
  height: 370px;
  position: fixed;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  &__list {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &--item:last-child {
      grid-column: 1 / 3;
    }
  }
  @media only screen and (max-width: utils.$mobile-width) {
    width: 414px;
    height: 186px;
    bottom: 48%;
  }
}

.pick {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  &__image {
    background-color: rgba(255, 255, 255, 0.7);
    background-clip: padding-box;
    padding: 48px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
  &--paper {
    .pick__image {
      border: 16px solid utils.$paper-from;
    }
  }
  &--scissors {
    .pick__image {
      border: 16px solid utils.$scissors-from;
    }
  }
  &--rock {
    .pick__image {
      border: 16px solid utils.$rock-from;
    }
  }
  @media only screen and (max-width: utils.$mobile-width) {
    &__image {
      padding: 24px;
    }
  }
}

.result {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
  &__you,
  &__house {
    position: relative;
    &__title {
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.2rem;
      margin-bottom: 40px;
    }
    &__pick {
      width: 210px;
      height: 210px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &__overlay {
      z-index: 1;
      &--item {
        background-color: rgba(255, 255, 255);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .one {
        top: 12px;
        width: 300px;
        height: 300px;
        opacity: 8%;
      }
      .two {
        top: -36px;
        width: 400px;
        height: 400px;
        opacity: 4%;
      }
      .three {
        top: -84px;
        width: 500px;
        height: 500px;
        opacity: 2%;
      }
    }
  }
  &__show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &__play-again {
      max-width: 100px;
      color: utils.$rock-to;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.8rem;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 12px 20px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  .pick__image {
    background-color: rgba(255, 255, 255, 0.9);
    border-width: 20px;
    img {
      width: 80px;
      height: auto;
    }
  }
}
